<div class="row">
       <div style="margin-top:25px" class="thumbnail">
            <div class="caption"><br><br><br><br>
                <div class="clearfix">
                   <h2>Adding the movie as favourite</h2>
                    <a href="/" class="btn btn-success pull-right" role="button">Back Home</a>
                </div>
            </div>
        </div>
    </div>