<div style="margin-top:10px; background:#ac3939" class="row">
    <div class="col-sm-10 col-md-8">
       <div style="margin-top:25px" class="thumbnail">
        <div class="thumbnail">
            <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/udDclJoHjfjb8Ekgsd4FDteOkCU.jpg" 
            alt="..." class="img-responsive">
            <div class="caption">
                <h3>Joker (2019)</h3>
                <h2>Overview</h2>
                <p class="description">During the 1980s, a failed stand-up comedian is driven insane and turns to a life of crime and chaos in Gotham City while becoming an infamous psychopathic crime figure.</p>
                <div class="clearfix">
                    <a href="http://localhost:3000/favourites" class="btn btn-success pull-right" role="button">Add to Favourites</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>