
   <div style="margin-top:10px; background:#ac3939" class="row">
    <div class="col-sm-10 col-md-8">
       <div style="margin-top:25px" class="thumbnail">
        <div class="thumbnail">
            <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/db32LaOibwEliAmSL2jjDF6oDdj.jpg" 
            alt="..." class="img-responsive">
            <div class="caption">
                <h3>Star Wars (2019)</h3>
                <h2>Overview</h2>
                <p class="description">The surviving Resistance faces the First Order once again as the journey of Rey, Finn and Poe Dameron continues. With the power and knowledge of generations behind them, the final battle begins.</p>
                <div class="clearfix">
                    <a href="http://localhost:3000/favourites" class="btn btn-success pull-right" role="button">Add to Favourites</a>
                </div>
            </div>
        </div>
    </div>
   </div>
</div>
   